body {
    background-color: burlywood;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;



  }
  
  table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: bisque;
    margin: 10px;
    border-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  